dash==1.18.1
dash-bootstrap-components==0.11.1
dash-core-components==1.14.1
dash-html-components==1.1.1
h5py==2.10.0
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
numpy==1.19.4
pandas==1.2.0
scikit-learn==0.24.0
scipy==1.5.4
six==1.15.0
sklearn==0.0
tensorflow==2.4.0
tensorflow-estimator==2.4.0
tensorflow-hub==0.10.0
